.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e2534b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    box-sizing: border-box;
    z-index: 90; /* Should be lower than backdrop */
}

.Toolbar nav {
    height: 100%;
}

.Toolbar .Logo {
    height: 90%;
    animation: shadow 4s infinite linear;
}

@keyframes shadow {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
