.NavigationItem {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    transform: skewX(-15deg);
}

.NavigationItem a {
    color: black;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: #ffffff;
    border-bottom: 4px solid #b71006;
    border-top: 4px solid #b71006;
    color: #000000;
}