.Footer {
    height: 56px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #e2534b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    box-sizing: border-box;
    z-index: 90;
    /*padding-top: 20px;*/
    margin: 0 auto;
}

.flex {
    /*margin-top: 40px;*/
    /*padding-top: 43px;*/
    /*max-width: 370px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.flex > a {
    margin: auto 5px;
}
.mail,
.tel {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.fb {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #fff url(../../../assets/images/facebook-f-brands.svg) 50% no-repeat;
    -webkit-background-size: 17px;
    background-size: 17px;
}

.vk {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #fff url(../../../assets/images/vk-brands.svg) 50% no-repeat;
    -webkit-background-size: 30px;
    background-size: 30px;
}
.tg {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #fff url(../../../assets/images/telegram-plane-brands.svg) 50% no-repeat;
    -webkit-background-size: 30px;
    background-size: 30px;
}
.ig {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #fff url(../../../assets/images/instagram-brands.svg) 50% no-repeat;
    -webkit-background-size: 30px;
    background-size: 30px;
}


