body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #777777;
  font-family: "Open Sans", sans-serif;
  background: #f3f3f3;
  font-size: 13px;
  line-height: 1.3;
  min-width: 320px;
}
/*#root{*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
