.top-pic {
    background: url(https://ic.pics.livejournal.com/tanjand/44781189/22999433/22999433_original.jpg) 50% no-repeat;
    height: 500px;
    width: 100%;
    background-size: cover;
    margin-top: -16px;
}

.pic-info {
    text-align: center;
    margin-top: 0;
    padding-top: 240px;
}
.pic-info h1 {
    display: inline-block;
    color: #fff;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
    background: #e2534b;
    padding:2px 7px 0 14px;
    border-radius: 5px;
    line-height: 50px;
    margin-bottom: -2px;
}
@media (max-width: 576px) {
    .pic-info h1 {
        font-size: 30px;
    }
}
.pic-info p {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 9px 45px 15px 40px;
    line-height: 24px;
    border-radius: 5px;
}